.conteiner-mainTwo1{
  margin-top: 6.5%;
  margin-right: 3%;
  display: flex;
  background-color: rgb(164, 226, 164);
  height: 500px;
  width: 300px;
  border-radius: 15px;
  flex-direction: column;
}
#textOne{
  text-align: center;
  margin-left: 80%;
  font-size: 1.5em;
  color:white;
  letter-spacing: 1px;
  font-family: 'Overpass', sans-serif;
   }
#textTwo{
  color:white;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5em;
  text-align: center;
  margin-right:10%;
}
body {
   background-color:rgb(149, 149, 229);
   margin: 0px;
}
.conteiner-headerOne{
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  
  background-color: rgb(164, 226, 164);
}

.conteiner-headerTwo1{
  background-color:rgb(237, 237, 109);
  height: 70px;
  width: 800px;
  border-radius: 15px;
  margin:auto;
}
main{
  background-color: blue;
}
.conteiner-mainTwochild{
  background-color: rgb(114, 219, 114);
  height: 200px;
  width: 300px;
  border-radius: 30px;
  margin: 6%;
}
.conteiner-mainTwochild2{
  background-color: rgb(114, 219, 114);
  height: 200px;
  width: 300px;
  border-radius: 30px;
  margin: 6%;
}
.conteiner-mainOne{
  display: flex;
  width: 100%;
  height: 545px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(149, 149, 229);
}

.conteiner-mainTwo{
  margin:auto;
  display: flex;
  background-color: rgb(164, 226, 164);
  height: 350px;
  width: 200px;
  border-radius: 15px;
  flex-direction: column;
 
}
.conteiner1-mainTwochild{
  background-color: rgb(237, 237, 109);
  height: 70px;
  width: 120px;
  border-radius: 15px;
  margin-left: 33%;
}
footer{
  background-color: blueviolet;
  margin-top: auto;
}
header{
  background-color: blueviolet;
  margin-top: auto;
  height: 50px;
}