#textNine{
  text-align: center;
  font-size: 1.2em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
#textEight{
  text-align: center;
  font-size: 1.2em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
#textSeven{
  text-align: center;
  font-size: 1.2em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
#textSix{
  text-align: center;
  font-size: 1.2em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
#textFive{
  text-align: center;
  font-size: 1.2em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
#textFour{
  text-align: center;
  font-size: 1.2em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
/*#textThree{
  text-align: center;
 margin-left: 40%;
 margin-bottom: 60%;
  font-size: 1.5em;
  color:white;
  letter-spacing: 1px;
  font-family: 'Overpass', sans-serif;
   }*/
.conteiner-plany{
 margin-left: 3%;
  display: flex;
  background-color: rgb(164, 226, 164);
  height: 200px;
  width: 1080px;
  border-radius: 15px;
  flex-direction:column;
  align-items: start;
}
.conteiner-novosty{
  margin-top: 6.5%;
  margin-right: 3%;
  display: flex;
  background-color: rgb(164, 226, 164);
  height: 600px;
  width: 300px;
  border-radius: 15px;
  flex-direction: column;
  align-items:flex-start;
}
#textOne{
  text-align: center;
  margin-left: 83%;
  margin-top: 5%;
  font-size: 1.5em;
  color:white;
  font-family: 'Overpass', sans-serif;
   }
#textTwo{
  text-align: center;
  margin-top: 5%;
  margin-left: 40%;
  font-size: 1.5em;
  color:white;
  font-family: 'Overpass', sans-serif;
}
body {
   background-color:rgb(149, 149, 229);
   margin: 0px;
}
.conteiner-header{
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row-reverse;
  background-color: rgb(164, 226, 164);
}
main{
  background-color: blue;
  height: 500px;
}
.conteiner-main{
  display: flex;
  width: 100%;
  height: 545px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(149, 149, 229);
}

.conteiner-uchastniki{
  margin:auto;
  display: flex;
  background-color: rgb(164, 226, 164);
  height: 350px;
  width: 200px;
  border-radius: 15px;
  flex-direction: column;
 
}
header{
  background-color: blueviolet;
  margin-top: auto;
  height: 50px;
}
footer{
  background-color: rgb(149, 149, 229);
  margin-top: auto;
  height: 141px;
}