body {
   background-color:rgb(149, 149, 229);
   margin: 0px;
}
.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: nowrap;
}
.conteiner-headerOne{
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;
  
  background-color: rgb(164, 226, 164);
}
.conteiner-headerTwo2{
  background-color: rgb(114, 219, 114);
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.conteiner-headerTwo1{
  background-color:rgb(237, 237, 109);
  height: 70px;
  width: 800px;
  border-radius: 15px;
  margin:auto;
}
.conteiner-headerTwo{
  background-color: rgb(114, 219, 114);
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
main{
  background-color: blue;
}
.conteiner-mainTwochild{
  background-color: rgb(114, 219, 114);
  height: 200px;
  width: 300px;
  border-radius: 30px;
  margin: 6%;
}
.conteiner-mainTwochild2{
  background-color: rgb(114, 219, 114);
  height: 200px;
  width: 300px;
  border-radius: 30px;
  margin: 6%;
}
.conteiner-mainOne{
  display: flex;
  width: 100%;
  height: 545px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(149, 149, 229);
}
.conteiner1-mainTwo{
  margin:auto;
  height: 500px;
  width: 700px;
  border-radius: 15px;
  background-color: rgb(237, 237, 109);
}
.conteiner-mainTwo{
  margin:auto;
  display: flex;
  background-color: rgb(164, 226, 164);
  height: 500px;
  width: 350px;
  border-radius: 15px;
  flex-direction: column;
 
}
.conteiner1-mainTwochild{
  background-color: rgb(237, 237, 109);
  height: 70px;
  width: 120px;
  border-radius: 15px;
  margin-left: 33%;
}
footer{
  background-color: blueviolet;
  margin-top: auto;
}
.conteiner-footerOne{
  display: flex;
  width: 100%;
  height: 100px;
  min-height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(164, 226, 164);
}
.conteiner-footerTwo{
  margin:1%;
  background-color: rgb(114, 219, 114);
  height: 80px;
  width: 80px;
  border-radius: 60px;
}